<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlLogger" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Logs;Persist Security Info=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>