<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BookaDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BookaDB;Persist Security Info=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultDateQueryPeriod" value="10"/>
    <add key="Cronofy_Clientid" value="dP39rPMHmyMr0ICXGz2_7upcTReqiayq" />
    <add key="Cronofy_Secret" value="7PisaQRXCzSU_3RCIFk4EME1o5zshMR7XsQXxQ1MJJ5r3QZweSqJpNo5D0zC3gDrZUtfmEOzPV_b-_IAz78AtQ" />
  </appSettings>
  
</configuration>