<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="BookaDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BookaDB;Persist Security Info=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
    <!--<add name="ChatbookaEntities" connectionString="metadata=res://*/BookaDb.csdl|res://*/BookaDb.ssdl|res://*/BookaDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:chatbooka.database.windows.net,1433;initial catalog=Chatbooka;user id=chatbookaadmin;password=Ana1982(;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ChatbookaEntities" connectionString="metadata=res://*/BookaDb.csdl|res://*/BookaDb.ssdl|res://*/BookaDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=BookaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatbookaEntitiesRemote" connectionString="metadata=res://*/BookaDb.csdl|res://*/BookaDb.ssdl|res://*/BookaDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:chatbooka.database.windows.net,1433;initial catalog=Chatbooka;user id=chatbookaadmin;password=Ana1982(;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatbookaEntities1" connectionString="metadata=res://*/ChatBookaDb.csdl|res://*/ChatBookaDb.ssdl|res://*/ChatBookaDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:chatbooka.database.windows.net,1433;initial catalog=Chatbooka;user id=chatbookaadmin;password=Ana1982(;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatbookaEntities2" connectionString="metadata=res://*/BookaDb.csdl|res://*/BookaDb.ssdl|res://*/BookaDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:chatbooka.database.windows.net,1433;initial catalog=Chatbooka;user id=chatbookaadmin;password=Ana1982(;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultDateQueryPeriod" value="10" />
    <add key="Cronofy_Clientid" value="dP39rPMHmyMr0ICXGz2_7upcTReqiayq" />
    <add key="Cronofy_Secret" value="7PisaQRXCzSU_3RCIFk4EME1o5zshMR7XsQXxQ1MJJ5r3QZweSqJpNo5D0zC3gDrZUtfmEOzPV_b-_IAz78AtQ" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>