<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BookaDB" connectionString="Server=tcp:hibookaprod.database.windows.net;Initial Catalog=Chatbooka;Persist Security Info=False;User ID=BookaAdmin;Password=Demo-1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="BookaDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BookaDB;Persist Security Info=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="accessToken" value="787e0b5d351b4a06ba126e8ba0121a0c"/>
  </appSettings>
</configuration>